@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<h2>Index</h2>
<div class="links">@Html.ActionLink("Employees", "Index", "Employee")</div>
<div class="links">@Html.ActionLink("Chiefs", "Index", "Chief")</div>

